# ======================================================
# ESSENTIAL EXTERNAL TOOLS
# ======================================================

# Up-to-date package management tools
pip
setuptools
wheel

# Environment variables management
python-dotenv

# YAML parsing
PyYAML

# Civic Interconnect library
-e git+https://github.com/civic-interconnect/civic-lib-core.git@main#egg=civic-lib-core

# Git integration (used to clone repos)
GitPython

# GraphQL client with asyncio transport (used for OpenStates schema pulls)
gql[aiohttp]
